version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: estudiantes
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: estudiantes2026
    restart: unless-stopped

volumes:
  mongo-data: